In [1]:
#Simple Recommndatin System and Content Based Recommendation System
#https://www.kaggle.com/tmdb/tmdb-movie-metadata  This is from where I have taken the dataset
import numpy as np
import pandas as pd

In [2]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
credits.shape

(4803, 4)

In [6]:
movies.shape

(4803, 20)

In [7]:
credits_column_renamed = credits.rename(index=str, columns={"movie_id": "id"})
merged_df = movies.merge(credits_column_renamed,on= 'id')
merged_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [9]:
cleaned_df = merged_df.drop(columns= ['title_x','title_y','revenue','homepage','status','budget'])

In [10]:
cleaned_df.head()

,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,tagline,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                4803 non-null   object
 1   id                    4803 non-null   int64
 2   keywords              4803 non-null   object
 3   original_language     4803 non-null   object
 4   original_title        4803 non-null   object
 5   overview              4800 non-null   object
 6   popularity            4803 non-null   float64
 7   production_companies  4803 non-null   object
 8   production_countries  4803 non-null   object
 9   release_date          4802 non-null   object
 10  runtime               4801 non-null   float64
 11  spoken_languages      4803 non-null   object
 12  tagline               3959 non-null   object
 13  vote_average          4803 non-null   float64
 14  vote_count            4803 non-null   int64
 15  cast                  4803 non-null   object
 16  crew                  4803 non-null   object
dtypes: float64(3), int64(2), object(12)
memory usage: 675.4+ KB

In [12]:
#Now we will use the weighted Mean Average
'''
IMDB uses this famous formula:

weighted rank (WR) = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C
where 
R = average for the movie (mean) = (Rating)
v = number of votes for the movie = (votes)
m = minimum votes required to be listed in the Top 250 (currently 25,000)
C = the mean vote across the whole report
'''

'\nIMDB uses this famous formula:\n\nweighted rank (WR) = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C\nwhere \nR = average for the movie (mean) = (Rating)\nv = number of votes for the movie = (votes)\nm = minimum votes required to be listed in the Top 250 (currently 25,000)\nC = the mean vote across the whole report\n'

In [13]:
v = cleaned_df['vote_count']
R = cleaned_df['vote_average']
C = cleaned_df['vote_average'].mean()
m = cleaned_df['vote_count'].quantile(0.7)

In [14]:
cleaned_df['weighted_average'] = ((R*v)+ (C*m))/(v+m)

In [15]:
cleaned_df.head()

,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,tagline,vote_average,vote_count,cast,crew,weighted_average
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.148013
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.807627
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",6.276075
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",7.509565
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",6.098319

In [16]:
sorted_ranking = cleaned_df.sort_values('weighted_average',ascending = False)
sorted_ranking[['original_title','popularity','vote_average','weighted_average']].head(20)

,original_title,popularity,vote_average,weighted_average
1881,The Shawshank Redemption,136.747729,8.5,8.340775
3337,The Godfather,143.659698,8.4,8.192887
662,Fight Club,146.757391,8.3,8.171648
3232,Pulp Fiction,121.463076,8.3,8.157615
65,The Dark Knight,187.322927,8.2,8.102674
809,Forrest Gump,138.133331,8.2,8.056059
1818,Schindler's List,104.469351,8.3,8.038748
3865,Whiplash,192.528841,8.3,8.034695
96,Inception,167.583710,8.1,8.018611
1990,The Empire Strikes Back,78.517830,8.2,8.010426
2294,千と千尋の神隠し,118.968562,8.3,8.009851
95,Interstellar,724.247784,8.1,7.998100
2731,The Godfather: Part II,105.792936,8.3,7.972685
329,The Lord of the Rings: The Return of the King,123.630332,8.1,7.965061
2912,Star Wars,126.393695,8.1,7.938092
690,The Green Mile,103.698022,8.2,7.935440
1553,Se7en,79.579532,8.1,7.916176
262,The Lord of the Rings: The Fellowship of the Ring,138.049577,8.0,7.880632
1847,GoodFellas,63.654244,8.2,7.869817
2091,The Silence of the Lambs,18.174804,8.1,7.867805

In [17]:
sorted_ranking = sorted_ranking.rename(index=str, columns={"original_title": "title"})
sorted_ranking.head()

,genres,id,keywords,original_language,title,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,tagline,vote_average,vote_count,cast,crew,weighted_average
1881,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",278,"[{""id"": 378, ""name"": ""prison""}, {""id"": 417, ""n...",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,136.747729,"[{""name"": ""Castle Rock Entertainment"", ""id"": 97}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-23,142.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Fear can hold you prisoner. Hope can set you f...,8.5,8205,"[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de...",8.340775
3337,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",238,"[{""id"": 131, ""name"": ""italy""}, {""id"": 699, ""na...",en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",143.659698,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1972-03-14,175.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",An offer you can't refuse.,8.4,5893,"[{""cast_id"": 5, ""character"": ""Don Vito Corleon...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de...",8.192887
662,"[{""id"": 18, ""name"": ""Drama""}]",550,"[{""id"": 825, ""name"": ""support group""}, {""id"": ...",en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,146.757391,"[{""name"": ""Regency Enterprises"", ""id"": 508}, {...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",1999-10-15,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Mischief. Mayhem. Soap.,8.3,9413,"[{""cast_id"": 4, ""character"": ""The Narrator"", ""...","[{""credit_id"": ""55731b8192514111610027d7"", ""de...",8.171648
3232,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",680,"[{""id"": 396, ""name"": ""transporter""}, {""id"": 14...",en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",121.463076,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-10-08,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Just because you are a character doesn't mean ...,8.3,8428,"[{""cast_id"": 2, ""character"": ""Vincent Vega"", ""...","[{""credit_id"": ""52fe4269c3a36847f801caa3"", ""de...",8.157615
65,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",155,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-07-16,152.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Why So Serious?,8.2,12002,"[{""cast_id"": 35, ""character"": ""Bruce Wayne"", ""...","[{""credit_id"": ""55a0eb4a925141296b0010f8"", ""de...",8.102674

In [18]:
popularity_df = cleaned_df.sort_values('popularity',ascending = False)

In [19]:
popularity_df[['original_title','popularity','vote_average','weighted_average']].head(20)

,original_title,popularity,vote_average,weighted_average
546,Minions,875.581305,6.4,6.365286
95,Interstellar,724.247784,8.1,7.998100
788,Deadpool,514.569956,7.4,7.334360
94,Guardians of the Galaxy,481.098624,7.9,7.798252
127,Mad Max: Fury Road,434.278564,7.2,7.135687
28,Jurassic World,418.708552,6.5,6.474365
199,Pirates of the Caribbean: The Curse of the Bla...,271.972889,7.5,7.391892
82,Dawn of the Planet of the Apes,243.791743,7.3,7.159397
200,The Hunger Games: Mockingjay - Part 1,206.227151,6.6,6.552141
88,Big Hero 6,203.734590,7.8,7.652256
108,Terminator Genisys,202.042635,5.8,5.840302
26,Captain America: Civil War,198.372395,7.1,7.025141
3865,Whiplash,192.528841,8.3,8.034695
65,The Dark Knight,187.322927,8.2,8.102674
270,The Martian,167.932870,7.6,7.488387
96,Inception,167.583710,8.1,8.018611
124,Frozen,165.125366,7.3,7.180574
9,Batman v Superman: Dawn of Justice,155.790452,5.7,5.730040
0,Avatar,150.437577,7.2,7.148013
662,Fight Club,146.757391,8.3,8.171648

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaling=MinMaxScaler()

In [21]:
movie_scaled_df=scaling.fit_transform(cleaned_df[['weighted_average','popularity']])
movie_normalized_df=pd.DataFrame(movie_scaled_df,columns=['weighted_average','popularity'])
movie_normalized_df.head()

   weighted_average  popularity
0          0.674339    0.171815
1          0.581403    0.158846
2          0.436273    0.122635
3          0.773054    0.128272
4          0.387739    0.050169

In [22]:
cleaned_df[['normalized_weight_average','normalized_popularity']]= movie_normalized_df
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   genres                     4803 non-null   object
 1   id                         4803 non-null   int64
 2   keywords                   4803 non-null   object
 3   original_language          4803 non-null   object
 4   original_title             4803 non-null   object
 5   overview                   4800 non-null   object
 6   popularity                 4803 non-null   float64
 7   production_companies       4803 non-null   object
 8   production_countries       4803 non-null   object
 9   release_date               4802 non-null   object
 10  runtime                    4801 non-null   float64
 11  spoken_languages           4803 non-null   object
 12  tagline                    3959 non-null   object
 13  vote_average               4803 non-null   float64
 14  vote_count                 4803 non-null   int64
 15  cast                       4803 non-null   object
 16  crew                       4803 non-null   object
 17  weighted_average           4803 non-null   float64
 18  normalized_weight_average  4803 non-null   float64
 19  normalized_popularity      4803 non-null   float64
dtypes: float64(6), int64(2), object(12)
memory usage: 788.0+ KB

In [23]:
cleaned_df['score'] = cleaned_df['normalized_weight_average']*0.7 + cleaned_df['normalized_popularity']*0.3
cleaned_df = cleaned_df.rename(index = str,columns = {'original_title': 'title'})

In [24]:
cleaned_df[['title','normalized_weight_average','normalized_popularity','score']].sort_values('score',ascending = False).head(20)

,title,normalized_weight_average,normalized_popularity,score
95,Interstellar,0.906439,0.827162,0.882656
94,Guardians of the Galaxy,0.851874,0.549462,0.761150
1881,The Shawshank Redemption,1.000000,0.156179,0.746854
3337,The Godfather,0.959622,0.164074,0.720957
65,The Dark Knight,0.934991,0.213941,0.718676
662,Fight Club,0.953823,0.167611,0.717960
3865,Whiplash,0.916431,0.219887,0.707468
3232,Pulp Fiction,0.949991,0.138723,0.706611
96,Inception,0.912039,0.191397,0.695847
809,Forrest Gump,0.922264,0.157762,0.692913
788,Deadpool,0.725217,0.587690,0.683959
1818,Schindler's List,0.917537,0.119314,0.678070
2294,千と千尋の神隠し,0.909647,0.135874,0.677515
329,The Lord of the Rings: The Return of the King,0.897418,0.141198,0.670552
2912,Star Wars,0.890055,0.144354,0.666345
2731,The Godfather: Part II,0.899500,0.120826,0.665898
1990,The Empire Strikes Back,0.909804,0.089675,0.663766
262,The Lord of the Rings: The Fellowship of the Ring,0.874367,0.157666,0.659357
690,The Green Mile,0.889331,0.118433,0.658062
2522,The Imitation Game,0.858950,0.166021,0.651071

In [25]:
cleaned_df['score'] = cleaned_df['score']*10

In [26]:
cleaned_df[['title','normalized_weight_average','normalized_popularity','score']].sort_values('score',ascending = False).head(20)

,title,normalized_weight_average,normalized_popularity,score
95,Interstellar,0.906439,0.827162,8.826560
94,Guardians of the Galaxy,0.851874,0.549462,7.611505
1881,The Shawshank Redemption,1.000000,0.156179,7.468538
3337,The Godfather,0.959622,0.164074,7.209574
65,The Dark Knight,0.934991,0.213941,7.186761
662,Fight Club,0.953823,0.167611,7.179595
3865,Whiplash,0.916431,0.219887,7.074675
3232,Pulp Fiction,0.949991,0.138723,7.066109
96,Inception,0.912039,0.191397,6.958465
809,Forrest Gump,0.922264,0.157762,6.929131
788,Deadpool,0.725217,0.587690,6.839590
1818,Schindler's List,0.917537,0.119314,6.780702
2294,千と千尋の神隠し,0.909647,0.135874,6.775153
329,The Lord of the Rings: The Return of the King,0.897418,0.141198,6.705522
2912,Star Wars,0.890055,0.144354,6.663446
2731,The Godfather: Part II,0.899500,0.120826,6.658977
1990,The Empire Strikes Back,0.909804,0.089675,6.637656
262,The Lord of the Rings: The Fellowship of the Ring,0.874367,0.157666,6.593565
690,The Green Mile,0.889331,0.118433,6.580616
2522,The Imitation Game,0.858950,0.166021,6.510712

In [27]:
#Content Based Recommender

In [29]:
cleaned_df['overview'].head(1)
cleaned_df.to_csv("cleaned_df.csv")

In [30]:
#Using the Tf-Idf Vectorizer
'''
TF-IDF is a statistical measure that evaluates how relevant a word is to a document in a collection of
documents. 
This is done by multiplying two metrics: how many times a word appears in a document, and the inverse 
document frequency of the word across a set of documents.

The term frequency of a word in a document. There are several ways of calculating this frequency, with the 
simplest being a raw count of instances a word appears in a document. Then, there are ways to adjust the 
frequency, by length of a document, or by the raw frequency of the most frequent word in a document.

The inverse document frequency of the word across a set of documents. This means, how common or rare a word
is in the entire document set. The closer it is to 0, the more common a word is. This metric can be 
calculated by taking the total number of documents, dividing it by the number of documents that contain a
word, and calculating the logarithm.
So, if the word is very common and appears in many documents, this number will approach 0. Otherwise, it
will approach 1.

Multiplying these two numbers results in the TF-IDF score of a word in a document. The higher the score, 
the more relevant that word is in that particular document.

Read More At https://www.quora.com/How-does-TfidfVectorizer-work-in-laymans-terms

    
'''

'\nTF-IDF is a statistical measure that evaluates how relevant a word is to a document in a collection of\ndocuments. \nThis is done by multiplying two metrics: how many times a word appears in a document, and the inverse \ndocument frequency of the word across a set of documents.\n\nThe term frequency of a word in a document. There are several ways of calculating this frequency, with the \nsimplest being a raw count of instances a word appears in a document. Then, there are ways to adjust the \nfrequency, by length of a document, or by the raw frequency of the most frequent word in a document.\n\nThe inverse document frequency of the word across a set of documents. This means, how common or rare a word\nis in the entire document set. The closer it is to 0, the more common a word is. This metric can be \ncalculated by taking the total number of documents, dividing it by the number of documents that contain a\nword, and calculating the logarithm.\nSo, if the word is very common and appears in many documents, this number will approach 0. Otherwise, it\nwill approach 1.\n\nMultiplying these two numbers results in the TF-IDF score of a word in a document. The higher the score, \nthe more relevant that word is in that particular document.\n\nRead More At https://www.quora.com/How-does-TfidfVectorizer-work-in-laymans-terms\n\n    \n'

In [46]:

cleaned_df = pd.read_csv('cleaned_df.csv')
from sklearn.feature_extraction.text import TfidfVectorizer


tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
cleaned_df['overview'] = cleaned_df['overview'].fillna('')

In [47]:
#we will create a matrix where each row will represent a sentence and each column will be word
#the data at each cell is the importance of a particular word 

tfv_matrix = tfv.fit_transform(cleaned_df['overview'])

In [48]:
tfv_matrix.shape

(4803, 10417)

In [49]:
from sklearn.metrics.pairwise import sigmoid_kernel

# Compute the sigmoid kernel
#we are using the sigmoid kernel to compute the similarity between two overviews
sig = sigmoid_kernel(tfv_matrix, tfv_matrix)

In [50]:
sig[0]

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [51]:
#Reverse Mapping of Indices
indices = pd.Series(cleaned_df.index,index = cleaned_df['title']).drop_duplicates()

In [52]:
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [53]:
indices['The']

KeyError: 'The'

In [54]:
indices['The Imitation Game']

2522

In [55]:
sig[2522]

array([0.76159416, 0.76159458, 0.76159491, ..., 0.76159533, 0.76159416,
       0.76159451])

In [56]:
sig[int(indices['Avatar'])]

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [85]:
def give_rec(title, sig=sig):
    # Get the index corresponding to original_title
    idx = int(indices[title])

    # Get the pairwsie similarity scores 
    sig_scores = list(enumerate(sig[idx]))

    # Sort the movies 
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[1:11]

    # Movie indices
    movie_indices = [i[0] for i in sig_scores]
    tit = cleaned_df['title'].iloc[movie_indices]
    dat = cleaned_df['release_date'].iloc[movie_indices]

    # Top 10 most similar movies
    return_df = pd.DataFrame(columns=['Title','Year'])
    return_df['Title'] = tit
    return_df['Year'] = dat
    return return_df

In [86]:
give_rec("Mission: Impossible" )

                                     Title        Year
139                Mission: Impossible III  2006-05-03
213                 Mission: Impossible II  2000-05-24
622                           Body of Lies  2008-10-10
153   Mission: Impossible - Ghost Protocol  2011-12-07
3943                             Compadres  2016-03-31
389                   The Three Musketeers  2011-08-31
4689             The Trials Of Darryl Hunt  2007-06-15
1332                                  Rush  2013-09-02
884                       Zero Dark Thirty  2012-12-19
753                           The Sentinel  2006-04-19

In [90]:
print(np.array(cleaned_df['title']))
p = 'Avatar'in np.array(cleaned_df['title'])
print(p)

['Avatar' "Pirates of the Caribbean: At World's End" 'Spectre' ...
 'Signed, Sealed, Delivered' 'Shanghai Calling' 'My Date with Drew']
True

In [91]:
p = give_rec("Mission: Impossible")

In [92]:
names = []
dates = []
for i in range(len(p)):
    names.append(p.iloc[i][0])
    dates.append(p.iloc[i][1])

In [93]:
names

['Mission: Impossible III',
 'Mission: Impossible II',
 'Body of Lies',
 'Mission: Impossible - Ghost Protocol',
 'Compadres',
 'The Three Musketeers',
 'The Trials Of Darryl Hunt',
 'Rush',
 'Zero Dark Thirty',
 'The Sentinel']